header
	.section
		.bricks
			.dwi2
				.head-logo
					+img('logo.svg')
					span.head-logo-text Frames
			.d6
				nav.head-menu
					a(href='#') Eyeglasses
					a(href='#') Sunglasses
					a(href='#') Eyeglasses
					a(href='#') Eyeglasses
					a(href='#') Eyeglasses