header
	.section
		.bricks
			.dwd2.m9
				.head-logo
					+img('logo.png')
					span.head-logo-text Frames
			.d8.head-menu-cont
				nav.head-menu
					a(href='#') Eyeglasses
					a(href='#') SUNGLASSES
					a(href='#') PRESCRIPTION SUNGLASSES
					a(href='#') CONTACT LENSES
			.d1.m3
				button.head-burger
					span
				.head-search
					form.head-search-form
						input(type='text' placeholder='Search').head-search-form-inpt
					button.head-search-btn S
				.head-cart
					button.head-cart-btn C